%ul.media_library_list.rounded
  - @media_libraries.entries.each do |file|
    - if file.directory?
      %li.directory{:data => file.to_html5_data}
        = link_to file.name, "#file_browser", 'data-path' => file.path
        %small.counter= file.entries_count
    -else
      %li.file{:data => file.to_html5_data}
        = link_to file.name, convert_media_libraries_path(:path => file.path)