.toolbar{:class => classes_for_media_library(@media_libraries)}
  %h1= @media_libraries.name
  = link_to 'Back', @media_libraries.up_path, :class => 'back'
  = link_to 'Queue', 'love', :class => 'button'
#file_browser
  = render 'media_library'