%h1= @path

%ul#media_libraries
  - @media_libraries.entries.each do |file|
    - if file.directory?
      %li.directory{:data => file.to_html5_data}= link_to file.name, :path => file.path
    -else
      %li.file{:data => file.to_html5_data}= file.name